ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #555;
}

/* =============
    浏览器更新提示
   ============= */
.browserupgrade {
    margin: 0;
    padding: 10px;
    background: #ccc;
}

.browserupgrade a {
    color: #f00;
}

/*清除浮动样式*/
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.clearfix {
    /* 触发 hasLayout */
    zoom: 1;
}

html {

    background: linear-gradient(#aee2c1, #82bdFF, #aee2c1);
}

/*头部动画加载相关*/
@keyframes webload {
    0% {
        filter: alpha(opacity=0);
        opacity: 0;

    }
    100% {

        opacity: 1;
    }
}

/*居中类*/
.center_container {
    width: 800px;
    margin: 0 auto;
}

/*头部导航*/
.header {
    border-top: 5px #000 solid;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-name: webload;
    animation-fill-mode: both;
    margin-bottom: 40px;
}

.header h2 {
    width: 280px;
    height: 27px;
    color: #fff;
    background-color: #000000;
    text-align: center;
    margin: 20px auto;
    -webkit-border-radius: 20px 0 20px 0;
    -moz-border-radius: 20px 0 20px 0;
    border-radius: 20px 0 20px 0;
}

.nav {
    font-size: 0;
    padding-top: 40px;
}

.nav .nav_ul a {
    display: inline-block;
    width: 130px;
    font-size: 20px;
    text-align: center;
    color: #fefefe;
    font-family: Lato, "Microsoft YaHei", sans-serif;
    font-weight: bold;
    transition: color .4s ease-in-out;
    text-shadow: 1px 2px #22c3aa, 2px 3px #aee2d9;

}

.nav .nav_ul a:hover {
    color: #ff4870;
}

.nav .nav_ul a:first-child {
    color: #ff4870;
}

.nav .nav_ul a + a {
    margin-left: 20px;
}

.myLogo {
    width: 300px;
    height: 310px;
    margin: 10px auto 20px;
}

.myLogo .dendoh {
    width: 300px;
    height: 300px;
    background: url("../images/dendoh.jpg") center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    transition: transform 1s ease-in;
}

.myLogo .dendoh:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

/*左侧个人简介及回到顶部*/
.slice_bar {

    width: 32px;
    height: 84px;
    position: fixed;
    bottom: 20px;
    right: 20px;

}

.slice_bar span {
    display: inline-block;
    cursor: pointer;
}

.slice_bar .person_info {
    background: url("../images/personal.png");
    width: 32px;
    height: 32px;
}

.slice_bar .top {
    background: url("../images/align_top.png");
    width: 31px;
    height: 32px;
    margin-top: 20px;
}

/*博客正文*/
#wmd-preview {
    margin-top: 50px;
}

/*个人信息侧边栏*/
.about_me {
    width: 0;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(#fea852, #ccc);
}

.about_me .fix_area {
    width: 285px;
    height: 304px;

}

.about_me .fix_area .myFavor {
    display: block;
    margin: 0px auto 50px;
    width: 150px;
    height: 150px;

}

.myFavor img {
    display: block;
    margin: 50px auto;
    border: 1px dashed #333;
}

.about_me .my_info {
    width: 240px;
    margin: 0 auto;
    color: #222;
    font-family: PingFang SC, Hiragino Sans GB, Helvetica Neue, Microsoft Yahei, WenQuanYi Micro Hei, sans-serif
}

.about_me .my_info li {
    padding: 8px;
}

.about_me .my_info a {
    color: #222;
    text-decoration: underline;
}

.about_me .my_info a:hover {
    color: #f00;

}

.about_me .my_info li span {
    display: inline-block;
    width: 15px;
    height:15px;
    background-repeat: no-repeat;
    margin-right: 5px;

}

.about_me .my_info li:nth-child(2) span {
    background: url("../images/person.ico");
}

.about_me .my_info li:nth-child(3) span {
    background: url("../images/location.ico");
    width: 14px;
}


.about_me .my_info li:nth-child(4) span {
    background: url("../images/blog.ico");
}

.about_me .my_info li:nth-child(5) span {
    background: url("../images/Nmail.ico");
    height: 14px;
}

/*主体内容*/
.main {
    min-height: 600px;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-name: webload;
    animation-fill-mode: both;
}

.main .wmd-preview {
    padding: 30px 0 70px;
}

.main .wmd-preview h1 {
    color: #07b;
    margin: 20px 0 20px;
    font-size: 30px;
}

.main .wmd-preview p {
    padding: 10px 0;
    line-height: 25px;
    font-family: PingFang SC, Hiragino Sans GB, Helvetica Neue, Microsoft Yahei, WenQuanYi Micro Hei, sans-serif;
}

.main .wmd-preview code {
    padding: 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fefefe;
    font-weight: bold;

}

.main .wmd-preview code + code {
    margin-left: 5px;
}

.main .wmd-preview .write_by_heart {
    background-color: #91a7d0;
}

.main .wmd-preview .about_movie {
    background-color: #fea852;
}

.main .wmd-preview .feeling {
    background-color: #8d5abb;
}

.main .wmd-preview .about_sandu {
    background-color: #ea5a50;
}

.main .wmd-preview .view_more {
    display: block;
    width: 100px;
    height: 30px;
    color: #fff;
    border: 2px solid #222;
    text-align: center;
    line-height: 30px;
    margin: 50px auto 0;
    background: #222;
    font-family: "Helvetica Neue", "Segoe UI", "Hiragino Sans GB", "Microsoft YaHei", Verdana, sans-serif;
    transition: background-color .3s, color .3s;

}

.main .wmd-preview .view_more:hover {
    background-color: #fff;
    color: #222;
}
/*选页区*/
.page_box{
    width: 100%;
    border-top: 1px #eee solid;
    margin-top: 70px;
    color: #555;


}
.page_area {
    width: 196px;
    margin: 0 auto;
    text-align: center;
}
.page_area a{
    display: inline-block;
    position: relative;
    top:-1px;
    padding: 0 10px;
    margin: 0 10px;
    height: 30px;
    line-height: 30px;
    border-top: 1px #eee solid;
    font-family: "Helvetica Neue", "Segoe UI", "Hiragino Sans GB", "Microsoft YaHei", Verdana, sans-serif;
    transition: border-top-color .6s;
}
.page_area a:hover{
    cursor: pointer;
   border-top-color: #000;


}
.page_active{
    background-color: #ccc;
    color: #fff;
}
.page_area a:first-child:hover{
    cursor: default;
    border-top-color: #eee;
}

/*底部模块*/
.footer {
    height: 190px;
    background-color: #333333;
    font-size: 0;
    margin-top: 100px;

}

.footer #contactMe {
    height: 150px;

}

.footer #contactMe {
    margin: 0 auto;

}

.footer #contactMe .social {
    width: 48px;
    height: 48px;
    display: inline-block;
    margin: 50px 50px 0;
    transition: transform .6s ease-in;
}

.footer #contactMe .social:hover {
    transform: rotateX(180deg);
}

.footer h4 {
    text-align: center;
    background: #333;
    color: #fff;
}

.footer #contactMe .social a {
    display: inline-block;
    width: 48px;
    height: 48px;

}

.footer #contactMe .social:first-child a {
    background: url("../images/LinkedIn.png");
}

.footer #contactMe .social:nth-child(2) a {
    background: url("../images/Facebook.png");
}

.footer #contactMe .social:nth-child(3) a {
    background: url("../images/github.png");
}

.footer #contactMe .social:nth-child(4) a {
    background: url("../images/douban.png");
}

.footer #contactMe .social:nth-child(5) a {
    background: url("../images/mail.png");
}

.footer p {
    text-align: center;
    font-size: 15px;
    color: #fefefe;
    margin-top: 60px;
    font-weight: bold;
}
/*站长统计*/
#cnzz_stat_icon_1261034251{
    display: block;
    text-align: center;
    background-color: #333;
    padding: 10px 0;
    font-size: 12px;
}
#cnzz_stat_icon_1261034251 a{
    color: #fefefe;
}
/*文章样式*/
.title-center{
    text-align: center;
    color: #777;
}
.return{
    display: block;
    width: 100px;
    height: 30px;
    color: #222;
    border: 2px solid #fff;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    text-align: center;
    line-height: 30px;
    font-weight: 400;
    margin-top: 30px ;
    background: #f3d10e;
    font-family: "Helvetica Neue", "Segoe UI", "Hiragino Sans GB", "Microsoft YaHei", Verdana, sans-serif;
    transition: background-color .3s, color .3s;

}

.return:hover {
    background-color: #222;
    color: #fff;
}

